
<%= image_tag "pic.jpeg", width:800 , height: 300; %>
  
   <body style="background-color:black;">
  <h1>Library</h1>
  <br/>
<h2>Books</h2>
<br/>
 <h2>Students</h2>
 <p style = "font-family:Arial, Helvetica, sans-serif;font-size:20px;">
         This is demo text
      </p>
    
   </body>
